/* src/styles/colors.css */
:root {
  
  /* Base Theme Colors */
  --color-primary: #b41a22;        /* Primary Color */
  --color-complementary: #00887a;  /* Complementary Color */
  --color-analogous: #c36d26;      /* Analogous Color */
  --color-triadic: #008f00;        /* Triadic Color */
}