/* src/styles/colors.css */
:root {
  
  /* Base Theme Colors */
  --color-primary: #bb262b;        /* Primary Color */
  --color-complementary: #26bbb6;  /* Complementary Color */
  --color-analogous: #bb6c26;      /* Analogous Color */
  --color-triadic: #2bbb26;        /* Triadic Color */
}