/* src/styles/colors.css */
:root {
  
  /* Base Theme Colors */
  --color-primary: #208030;        /* Primary Color */
  --color-complementary: #0090c0;  /* Complementary Color */
  --color-analogous: #c09000;      /* Analogous Color */
  --color-triadic: #00c030;        /* Triadic Color */
}