/* src/components/Article.module.css */

/* General Styles */
.article ul,
.article ol {
  padding-right: 20px;
  margin-right: 0;
  list-style-position: outside;
  font-family: 'Assistant', sans-serif;
  font-size: 1rem;
}

.article li {
  margin-bottom: 10px;
  padding-right: 10px;
}

.article table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.article th,
.article td {
  padding: 15px;
  border: 1px solid #ddd;
  text-align: right;
  font-size: 1rem;
}

.article th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.article tr:nth-child(even) {
  background-color: #f9f9f9;
}

.article tr:hover {
  background-color: #f1f1f1;
}

.author {
  font-size: var(--font-size-h5);
}

.article a {
  color: var(--color-primary-dark);
  font-weight: 700;
}

/* Mobile CSS */
@media (max-width: 768px) {

  .article .table-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .article,
  .topSection,
  .middleSection,
  .mainColumn,
  .emptyColumn,
  .htmlSection,
  .imageSection {
    max-width: 100%;
    margin: 0 auto;
    text-align: right;
  }

  .breadcrumbs,
  .title,
  .authorRow,
  .authorInfo,
  .htmlSection,
  .imageSection img,
  .article p,
  .article a,
  .htmlSection {
    margin-bottom: 10px;
  }

  .authorRow {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
  }

  .imageSection img {
    width: 100% !important;
    height: auto !important;
    border-radius: 8px;
  }
}

/* Widescreen CSS */
@media (min-width: 769px) {
  .article {
    max-width: 1280px;
    margin: 0 auto;
    line-height: 1.6;
    padding: 20px;
  }

  .topSection,
  .middleSection,
  .mainColumn,
  .emptyColumn,
  .htmlSection,
  .imageSection {
    max-width: 1280px;
    margin: 0 auto;
    text-align: right;
  }

  .breadcrumbs,
  .authorRow,
  .authorInfo,
  .htmlSection,
  .imageSection,
  .article h1,
  .article figure,
  .article p,
  .article a,
  .article ul,
  .article ol,
  .article li {
    margin: 20px 0;
  }

  .authorRow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .imageSection {
    width: 100%;
    max-width: 800px;
  }

  .article ul,
  .article ol {
    padding-left: 20px;
  }

  .article li {
    padding-left: 10px;
    text-indent: -10px;
  }

  .middleSection {
    display: flex;
    justify-content: space-between;
    max-width: 1152px;
    margin: 0 auto;
    padding: 96px 36px;
  }

  .mainColumn {
    width: 60%;
    text-align: right;
  }

  .emptyColumn {
    width: 30%;
    margin-left: 5%;
  }
}