.footerTop {
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  max-width:1280px;
  color:#fff
  }
  
  .footerColumn {
  flex:1;
  margin:10px;
  min-width:200px
  }
  
  .footerColumn h3 {
  margin-top:0
  }
  
  .logo {
  padding:12px 0
  }
  
  .footerColumn ul {
  list-style:none;
  padding:0
  }
  
  .footerColumn ul li {
  margin:5px 0
  }
  
  .footerColumn a {
  color:#fff;
  text-decoration:none;
  text-decoration:underline
  }
  
  .footerColumn a:hover {
  text-decoration:underline
  }
  
  .footerAbout {
  flex:2
  }
  
  .footerBottom {
  text-align:center;
  margin-top:20px;
  border-top:1px solid #ddd;
  padding-top:10px
  }
  
  .footerBottom p a {
  margin:0;
  color:#fff
  }
  
  .footerColumn img {
  max-width:250px;
  height:auto
  }
  
  .socialIcons {
  display:flex;
  gap:20px;
  align-items:center
  }
  
  .socialIcons img {
  width:30px;
  height:30px
  }