.imageWrapper {
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden; /* Ensure no overflow */
    padding-top: 56.25%;
    border-radius: 8px;
  }
  
  .placeholder, .mainImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease-in-out;
    object-fit: cover;
  }
  
  .placeholder {
    filter: blur(10px);
    opacity: 1;
  }
  
  .mainImage {
    opacity: 0;
  }
  
  .loaded {
    opacity: 1;
  }

  .figcaption {
    margin-top: 0.5rem; /* Adjust as necessary */
    text-align: center;
  }
  


  @media (max-width: 768px) {
    .imageWrapper {
      width: 100%;
      height: auto; /* Adjust height as needed */
      overflow: hidden; /* Ensure no overflow on small screens */
    }
  }
  
  @media (min-width: 769px) {
    .imageWrapper {
      width: 100%;
      height: auto; /* Adjust height to maintain aspect ratio */
      overflow: hidden; /* Ensure no overflow on large screens */
    }
  }